.follow button {
     color: #fff !important;
     background-color: #005430 !important;
}

.vido-section .card:hover {
     transform: translateY(0%);
}
time {
     font-size: 13px;
}

@media (max-width: 593px) {
     .navbar-light .navbar-nav .nav-link {
          font-size: 13px;
          padding-right: 4px;
          padding-left: 4px;
     }
}
@media (min-width: 595px) {
     .navbar-light .navbar-nav .nav-link {
          padding-right: 4px;
          padding-left: 4px;
     }
}
